<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Portal</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<section class="Section-wrapper">
    <section id="sLogin" class="LoginSection">
        <h1 class="LoginTitle">Login for Students</h1>
        <form th:action="@{/student}" method="get">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" th:required="required">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" th:required="required">
            <button class="Login-btn" type="submit">Submit</button>
            <button class="Login-btn" type="reset">Clear</button>
        </form>
    </section>
    <section id="pLogin" class="LoginSection">
        <h1 class="LoginTitle">Login for Professors</h1>
        <form th:action="@{/teacher}" method="get">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" th:required="required">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" th:required="required">
            <button class="Login-btn" type="submit">Submit</button>
            <button class="Login-btn" type="reset">Clear</button>
        </form>
    </section>
    <section id="fLogin" class="LoginSection">
        <h1 class="LoginTitle">Login for HR</h1>
        <form th:action="@{/hr}" method="get">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" th:required="required">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" th:required="required">
            <button class="Login-btn" type="submit">Submit</button>
            <button class="Login-btn" type="reset">Clear</button>
        </form>
    </section>
</section>
</body>
</html>
