<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Assignments</title>
    <link th:href="@{/css/Professor_Assignments_styles.css}" rel="stylesheet">
    <script th:src="@{/js/P-Assignment_Scripts.js}"></script>
</head>
<body>
<div class="assignments-container">
    <div class="grades-content">
        <div class="assignments-section">
            <h2>Assignments [Weighted 20%]</h2>
            <table class="assignment-table">
                <thead>
                <tr>
                    <th>Assignment</th>
                    <th>Max Grade</th>
                </tr>
                </thead>
                <tbody id="assignment-body">
                <!-- Rows will be inserted here by JavaScript -->
                </tbody>
            </table>
            <div class="button-container">
                <button class="add-button" onclick="addAssignment()">+</button>
                <button class="remove-button" onclick="removeAssignment()">-</button>
            </div>
            <h2>Exams [Weighted 80%]</h2>
            <table class="exam-table">
                <thead>
                <tr>
                    <th>Exam</th>
                    <th>Max Grade</th>
                </tr>
                </thead>
                <tbody id="exam-body">
                <!-- Rows will be inserted here by JavaScript -->
                </tbody>
            </table>
            <div class="button-container">
                <button class="add-button" onclick="addExam()">+</button>
                <button class="remove-button" onclick="removeExam()">-</button>
            </div>
        </div>
    </div>
    <button onclick="goBack()">Go Back</button>
    <button onclick="finalizeChanges()">Finalize</button>
</div>
</body>
</html>