<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Portal</title>
    <link th:href="@{/css/Professor_Portal.css}" rel="stylesheet">
    <script th:src="@{/js/P-Portal_Scripts.js}"></script>
</head>
<body>
<header>
    <h1>Welcome Professor <span id="professor-name">[Name]</span></h1>
    <a th:href="@{/Main Page/LoginPage.html}"><button class="signout-button">Sign Out</button></a>
</header>
<main>
    <section class="student-roster">
        <img class="icons" th:src="@{/assets/ProfessorImages/Roster.png}" alt="Student Roster">
        <br>
        <a th:href="@{/Professor/html/Professor_Student_Roster.html}"><button class="nav-button">Student Roster</button></a>
    </section>
    <section class="adjust-assignments">
        <img class="icons" th:src="@{/assets/ProfessorImages/AdjustGrades.png}" alt="Adjust Assignments">
        <br>
        <a th:href="@{/Professor/html/Professor_Assginments.html}"><button class="nav-button">Adjust Assignments</button></a>
    </section>
</main>
</body>
</html>