<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Info</title>
    <link th:href="@{/css/Student_info_style.css}" rel="stylesheet">
    <script th:src="@{/js/Student_Info_Scripts.js}"></script>
</head>
<body>
<div class="student-info-container">
    <h1><span id="student-name" th:text="${student.name}">[Student Name]</span></h1>
    <div class="student-details">
        <div class="student-image">
            <img id="student-image" th:src="@{/assets/StudentImages/default-image.png}" alt="Default Image">
            <br>
            <form>
                <input type="file" id="fileInput" name="filename">
            </form>
        </div>
        <div class="student-text">
            <p>Student ID: <span id="student-id" th:text="${student.id}">[Student ID]</span></p>
            <p>First Name: <span id="first-name" th:text="${student.firstName}">[First Name]</span></p>
            <p>Last Name: <span id="last-name" th:text="${student.lastName}">[Last Name]</span></p>
            <p>E-mail: <span id="email" th:text="${student.email}">[Email]</span></p>
        </div>
    </div>
    <button onclick="goBack()">Go Back</button>
</div>
</body>
</html>
