<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <link th:href="@{/css/StudentPortal-styles.css}" rel="stylesheet">
</head>
<body>
<header>
    <h1>Welcome <span id="student-name" th:text="${student.name}">Mike OxMall</span></h1>
    <a href="/login"><button class="signout-button">Sign Out</button></a>
</header>
<main>
    <section class="student-info">
        <img class="icons" th:src="@{/assets/StudentImages/info.png}" alt="Student Info">
        <br>
        <a href="/student/info"><button class="nav-button">Student Info</button></a>
    </section>
    <section class="grades">
        <img class="icons" th:src="@{/assets/StudentImages/grades.png}" alt="Grades">
        <br>
        <a href="/student/grades"><button class="nav-button">Grades</button></a>
    </section>
    <section class="assignments">
        <img class="icons" th:src="@{/assets/StudentImages/assignments.png}" alt="Assignments">
        <br>
        <a href="/student/assignments"><button class="nav-button">Assignments</button></a>
    </section>
</main>
</body>
</html>
