*{
    padding: 8px;
    margin: 8px;
}

@media (max-width: 400px){
    .Section-wrapper{
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 920px){
    .Section-wrapper{
        display: flex;
        flex-wrap: wrap
    }
}
.LoginSection{
    flex: 1;
    height: 250px;
    width: 250px;
    border-style: solid;
    border-color: black;
}

.Section-wrapper{
    display: flex;
}